body{
    background: #eee;
    padding: 5px 10px;
}
.logo{
    height:60px;
    font-size:20px;
    text-align: center;
    line-height: 60px

}
.logo img{
    width: 50px;
    float:left;
    
}
.logo span{
    text-align: center
}
.logo .login{
    float:right;
    line-height: 60px
}

